.boxes {
    z-index: 10;
    position: absolute;
    width: 276px;
    height: 276px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2px solid var(--ui-blue-party-parrot-light, rgba(132, 137, 255, 0.20));
}

.cross {
    z-index: 10;
    position: absolute;
    animation: rotation 4s infinite linear;
}
