body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Beausite-light';
  src: local('Beausite'), url(./fonts/beausite-classic-light.ttf) format('truetype');
}

@font-face {
  font-family: 'Beausite-medium';
  src: local('Beausite'), url(./fonts/beausite-classic-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-medium'), url(./fonts/open-sans-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Beausite-regular';
  src: local('Beausite-regular'), url(./fonts/beausite-classic-regular.otf) format('truetype');
}
